<html>
<head>
    <title>Portale d'accesso</title>
</head>
<body>
    <div class="container">        
        <div class="row">
           Grazie per l'accesso
        </div>       
    </div>
</body>
</html>